.app {
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 50px;
    position: relative;
    // background: red;
    height: 100vh;
    background: url("../assets/img/potential-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
