@import "./config.scss";

.header {
    @include flex(center, space-between, 2rem, row);
    padding: 1rem;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    .logo {
        img {
            width: 70px;
            height: 70px;
        }
    }
    nav {
        @include flex(center, center, 5px, row);
        a {
            text-decoration: none;
            position: relative;
            color: nth($colors, 2);
            padding: 0 1rem;
            @include flex(center, center, auto, column);

            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 3px;
                bottom: -5px;
                transition: 200ms;
            }
            &:hover {
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    background: nth($colors, 1);
                }
            }
        }
    }
}
