@import "./config.scss";

.services {
    height: 100vh;
    background: transparent;
    padding: 2rem;
    @include flex(center, start, auto, column);
    position: relative;
    z-index: -1;
    transform-style: preserve-3d;
    .blob {
        position: absolute;
        top: -18rem;
        width: 200vw;
        height: auto;
        z-index: -1;
        transform: translateZ(5px) translateY(5rem);
    }
    .heading {
        width: 50%;
        transform: translateZ(6px) translateY(8rem) scale(0.9);
        @include flex(center, center, 0px, column);
        h1 {
            color: white;
            text-transform: uppercase;
            font-weight: 100;
            font-size: 50px;
            line-height: 5px;
        }
        .line {
            width: 65%;
            height: 7px;
            margin-top: 10px;
            background: nth($colors, 3);
        }
    }
    .body {
        transform: translateZ(7px) translateY(8rem) scale(0.8);
        width: 100%;
        height: 80vh;
        .left {
            width: 50vw;
            height: 90vh;
        }
    }
}
